<div id="osd" class="image-viewer"></div>
<script defer src="{{ '/assets/openseadragon/openseadragon.min.js' | absolute_url }}"></script>
<script>
  $(document).ready(function() {
      var manifestUrl = "{{ include.manifest_indiv }}";
      $.getJSON(manifestUrl, function(data) {
          var tileSources = [{
              tileSource: "{{ include.manifest_indiv }}" + '/info.json',
              referenceStripThumbnailUrl: "{{ include.thumb }}"
          }];
      });
      OpenSeadragon({
          id: "osd",
          preload: true,
          sequenceMode: true,
          prefixUrl: "{{ '/assets/openseadragon/images/' | absolute_url }}",
          tileSources: [{
              tileSource: "{{ include.manifest_indiv }}" + '/info.json',
              referenceStripThumbnailUrl: "{{ include.thumb }}"
          }],
          showReferenceStrip: true,
      });
  });
</script>